{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="/static/signup.css">

<div class="auth-container">
    <h2>Create Account</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Confirm Password" required>
        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>

{% endblock %}
